<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>*/*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cab</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>CAB file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>EXE file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>msi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MSI file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>osdx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OSDX file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p7s</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>P7S file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>SCF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>udl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>UDL file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZIP file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WinAppHelper</string>
	<key>CFBundleGetInfoString</key>
	<string>16.5, C:\Windows\explorer.exe</string>
	<key>CFBundleIconFile</key>
	<string>WinAppHelper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.parallels.winapp.ce792c530b68d72a672d77a11c6d0df2.868afd9fa9aa47249ac125ac06d5cae8</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>ja</string>
		<string>en</string>
		<string>zh_CN</string>
		<string>es</string>
		<string>pt_BR</string>
		<string>it</string>
		<string>cs</string>
		<string>ko</string>
		<string>pl</string>
		<string>zh_TW</string>
		<string>ru</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>File Explorer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Windows 11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>explorer.assocactionid.burnselection</string>
				<string>explorer.assocactionid.erasedisc</string>
				<string>explorer.assocactionid.zipselection</string>
				<string>explorer.assocprotocol.search-ms</string>
				<string>explorer.burnselection</string>
				<string>explorer.erasedisc</string>
				<string>explorer.zipselection</string>
				<string>search</string>
				<string>search-ms</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17.51567.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
</dict>
</plist>
