<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>*/*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ARW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>BMP file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cr2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>CR2 file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>crw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>CRW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dib</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>DIB file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dng</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>DNG file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ERF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>GIF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ICO file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jfif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>JFIF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPE file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPEG file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>JPG file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jxr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>JXR file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kdc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>KDC file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mrw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MRW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>NEF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nrw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>NRW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>orf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ORF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pef</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>PEF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>PNG file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>raw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>RAW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rw2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>RW2 file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rwl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>RWL file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sr2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>SR2 file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>SRW file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>TIF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>TIFF file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wdp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WDP file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WinAppHelper</string>
	<key>CFBundleGetInfoString</key>
	<string>16.5, Microsoft.ScreenSketch_8wekyb3d8bbwe!App</string>
	<key>CFBundleIconFile</key>
	<string>WinAppHelper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.parallels.winapp.65e9d52ac702682748bb64e057867f64.868afd9fa9aa47249ac125ac06d5cae8</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>ja</string>
		<string>en</string>
		<string>zh_CN</string>
		<string>es</string>
		<string>pt_BR</string>
		<string>it</string>
		<string>cs</string>
		<string>ko</string>
		<string>pl</string>
		<string>zh_TW</string>
		<string>ru</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>Snip &amp; Sketch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Windows 11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ms-screensketch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17.51567.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
</dict>
</plist>
