<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>*/*</string>
			</array>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>AAC File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ac3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>AC3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ADT File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ADTS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>amr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>AMR File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ec3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>EC3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>FLAC File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M3U File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M4A File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4r</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M4R File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mka</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MKA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP3 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>oga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGG File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opus</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OPUS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WAV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WMA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WPL File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ZPL File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>3G2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GP File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GP2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>3GPP File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>ASF File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>AVI File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>CDA File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>DIVX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m1v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M1V File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2t</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M2T File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2ts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M2TS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M2V File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m3u8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M3U8 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>M4V File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mk3d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MK3D File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MKV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MOV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp2v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP2V File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MP4V File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpe</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPE File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPEG File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPG File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPG4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpv2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MPV2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>MTS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGM File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>OGX File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>TOD File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>TS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tts</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>TTS File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WEBM File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WM File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>WMV File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xvid</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>my_documents.icns</string>
			<key>CFBundleTypeName</key>
			<string>XVID File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>WinAppHelper</string>
	<key>CFBundleGetInfoString</key>
	<string>16.5, Microsoft.ZuneMusic_8wekyb3d8bbwe!Microsoft.ZuneMusic</string>
	<key>CFBundleIconFile</key>
	<string>WinAppHelper.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.parallels.winapp.0f9eb104b85dfc42a99b1ffd2a9a360d.868afd9fa9aa47249ac125ac06d5cae8</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>de</string>
		<string>ja</string>
		<string>en</string>
		<string>zh_CN</string>
		<string>es</string>
		<string>pt_BR</string>
		<string>it</string>
		<string>cs</string>
		<string>ko</string>
		<string>pl</string>
		<string>zh_TW</string>
		<string>ru</string>
		<string>fr</string>
	</array>
	<key>CFBundleName</key>
	<string>Groove Music</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>Windows 11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ms-playto-audio</string>
				<string>mswindowsmusic</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17.51567.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.7.0</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>CStubApplication</string>
</dict>
</plist>
